@model SBD.Models.Worek

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Worek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wielkosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wielkosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupakrwi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupakrwi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bank.Bankid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donacja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donacja.Donacjaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transfuzja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transfuzja.Transfuzjaid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Worekid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
