@model SBD.Models.Donacja

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Donacja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IloscDonacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IloscDonacji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datadonacji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datadonacji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Badania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Badania.Badaniaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donator.Donatorid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pielegniarka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pielegniarka.Pielegniarkaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ.Typid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Donacjaid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
