@model IEnumerable<SBD.Models.Donacja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IloscDonacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datadonacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Badania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pielegniarka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IloscDonacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datadonacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Badania.Badaniaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donator.Donatorid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pielegniarka.Pielegniarkaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Typ.Typid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Donacjaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Donacjaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Donacjaid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
