@model SBD.Models.Transfuzja

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transfuzja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PotrzebnaIlosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PotrzebnaIlosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTransfuzji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTransfuzji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Badania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Badania.Badaniaid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacjent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacjent.Pacjentid)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pielegniarka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pielegniarka.Pielegniarkaid)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Transfuzjaid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
