@model SBD.Models.Transfuzja

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transfuzja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PotrzebnaIlosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PotrzebnaIlosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTransfuzji)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTransfuzji)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Badania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Badania.Badaniaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacjent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacjent.Pacjentid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pielegniarka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pielegniarka.Pielegniarkaid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Transfuzjaid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
