@model IEnumerable<SBD.Models.Pacjent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrupaKrwi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priorytet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osoba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrupaKrwi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priorytet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoba.Osobaid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Pacjentid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Pacjentid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Pacjentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
